body{font-size:12px;}

#page1_jContainer1{
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#page1_jRegion1{
  border:none;
  overflow:hidden;
}

#page1_jRegion2{
  border:none;
  overflow:hidden;
}

#page1_jRegion3{
  border:none;
  overflow:hidden;
}

#page1_jExtPanel1{
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

#page1_jExtPanel1 .PanelBarCaption{
}

#page1_jExtPanel1 .PanelContent{
}

#page1_jExtPanel1 .cumicon{
  background:url(../images/) no-repeat;
  right: 0px;
  bottom: 0px;
  margin: 2px 5px 0 2px;
}

#page1_jPanel1{
  left: 0px;
  top: 0px;
  height: 94px;
  width: 100%;
  background: url(../images/jTitle001.jpg) repeat;
}

#page1_jLabel1{
  left: 15px;
  top: 9px;
  font-size: 36px;
  font-family: "隶书";
  color: #FFFFFF;
  line-height: 38px;
}

#page1_jExtPanel2{
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

#page1_jExtPanel2 .PanelBarCaption{
}

#page1_jExtPanel2 .PanelContent{
}

#page1_jExtPanel2 .cumicon{
  background:url(../images/) no-repeat;
  right: 0px;
  bottom: 0px;
  margin: 2px 5px 0 2px;
}

#page1_jContainer2{
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#page1_jRegion4{
  border:none;
  overflow:hidden;
}

#page1_jRegion5{
  border:none;
  overflow:hidden;
}

#page1_jDataGrid1{
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

#page1_jToolbar1{
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  border-left:none;
  border-right:none;
}

#page1_jButton1{
  left: 4px;
  top: 3px;
  width:56px;
  height: 22px;
}

#page1_jButton2{
  left: 70px;
  top: 3px;
  width:56px;
  height: 22px;
}

#page1_jLabel8{
  left: 163px;
  top: 6px;
  line-height: 14px;
}

#page1_jEdit1{
  left: 211px;
  top: 4px;
  width:141px;
  height:14px;
}

#page1_jSeparator2{
  left: 150px;
  top: 6px;
  height: 18px;
  width: 8px;
}

#page1_jContainer3{
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#page1_jRegion7{
  border:none;
  overflow:hidden;
}

#page1_jTreeView1{
  left: 8px;
  top: 0px;
  height: 100%;
  width: 100%;
}

#page1_jButton5{
  left: 365px;
  top: 4px;
  width:56px;
  height: 22px;
}

