div.item_title {
    border: #0a0a0a 1px solid;
}

div.sub_title {
    font-weight: bold;
}

div.item_info {
    border: #0a0a0a 1px solid;
    overflow: hidden;
    padding: 5px;
}

div.row {
    float: left;
    padding: 5px;
}

div.sub_item {
    border: #0a0a0a 1px solid;
    overflow: hidden;
}

div.buttons {
    float: right;
    padding: 10px;
    align-content: right;
}

.item_label {
    display: inline-block;
    margin-right: 0px;
    width: 80px;
}

.item_input {
    margin-right: 20px;
    width: 120px;
    height: 22px;
    box-sizing: border-box;
}
