/* CSS Document */
/* 新增元素-布局容器 ，将最外层的布局都放在这个元素里*/
.container {
    width: 100%;
    height: 100%
}

.ui-layout-pane {
    padding: 0;
    border-color: #c0c0c0;
}

.tlayout_style1 {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

/*居中定位，直接放在body内就是满屏，config里配置宽度.选用此风格时最好不要加left和top属性*/
.tlayout_style2 {
    position: absolute;
    width: 100px;
    height: 100px;
}

/*绝对定位，config里必须设置自定义宽高 可选设置left right top bottom*/
.tlayout_style3 {
    position: relative;
    width: 100px;
    height: 100%;
    float: left
}

/*自动定位左对齐*/
.tlayout_style4 {
    position: relative;
    width: 100px;
    height: 100%;
    float: right
}

/*自动定位右对齐*/
.tlayout_noborder, .tlayout_noborder .ui-layout-pane {
    border: none;
    padding: 0;
}

/*下属所有布局都无边, 希望无分割条需要通过js设置*/

